extends layout 
 
block content 
  h1.heading1= title 
 
  form(id='LineForm', action="/resource/line", method="POST") 
    div.form-group(class="row m-2")
        label.lineCreateLabel(for='line_type', class="col-4 col-lg-1") Line type 
        input#line_type(type='text', name='line_type', class="col-4 col-lg-2", pattern="[A-Za-z]{1,32}", required, title="Enter string containing alphabets of length up to 32") 
    div.form-group(class="row m-2") 
        label.lineCreateLabel(for='line_thickness', class="col-4 col-lg-1") Line thickness 
        input#size(type='number', name='line_thickness', class="col-4 col-lg-2", min="4", max="10", required) 
    div.form-group(class="row m-2") 
        label.lineCreateLabel(for='line_color', class="col-4 col-lg-1") Line color 
        input#cost(type='text', name='line_color', class="col-4 col-lg-2", required) 
    button(type="submit", class="btn btn-primary p-2 m-4 center") Submit
 
 
  script. 
    document.forms['LineForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 