body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lineAttr { 
  background-color: aquamarine; 
  width: 120px; 
}

.lineCreateLabel {
  font-size: 12px;
  padding-top: 5px;
}

.heading1 {
  margin-left: 18px;

    margin-bottom: 20px;

}
